/target/
*.o
*.d
*.exe
*.zip
*.segments
*.segments.tmp
*.segments.bak
tests/tls-*.pem
test_*
!test_source.bin
!tests/
!tests/test_integration.py
!tests/test_https.py
!tests/test_segment.c
!tests/test_options.c
!tests/test_url.c
.DS_Store
Thumbs.db
